.main_header{
    width: 100%;
    height: 55px;
    background: gray;
}

/* .column{
    height: 300px;
    width: 250px;
    background: blueviolet;
    margin-right: 32px;
    float: left;
}
.column_header{
    background-color: fuchsia;
}

.column_header li{
    font-size: 20px;
    color: white;
    display: inline-block;
} */

.top_section{
    width: 100%;
    height: 100vh;
    background: url("heroBG.jpg") no-repeat center;
    background-size: cover;

}
.main_header{
    width: 100%;
    height: 65px;
    background: lightgray;
}

.logo {
    color: white;
    font-size: 40px;
    float: left;
}

.main_nav{
    background: lightsteelblue;
    width: 80%;
    float: right;
}

.main_nav li{
    display: inline-block;
    margin-left: 32px;   
}

.center_button{
    
}
