.main_header{
    background-color: rgb(61, 50, 50);
    height: 100px;
}

.main{
    background-color: grey;
    height: 80vh;
    width: 70%;
    margin: auto;
}

.footer{
    height: 10vh;
    background-color: rgb(77, 66, 66);
    width: 70%;
    margin: auto;
    
}